@{
    ViewData["Title"] = "GLOBAL LOGISTICS MANAGEMENT SYSTEM";
}

<style>
    body {
        background-image: url("/image/Screenshot 2026-04-21 132224.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
</style>

<div class="d-flex">
    <!-- Sidebar -->
    <div class="bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">

        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a asp-controller="Clients" asp-action="Index" class="btn btn-warning w-100">Clients</a>
            </li>
            <li class="nav-item mb-2">
                <a asp-controller="Contracts" asp-action="Index" class="btn btn-danger w-100">Contracts</a>
            </li>
     
            <li class="nav-item mb-2">
                <a asp-controller="ServiceRequests" asp-action="Index" class="btn btn-primary w-100">ServiceRequests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
        
        </ul>
    </div>
